*.o
*.a
*.swp
*.out
~*
*.plist
/tools/*.bsp
/tools/*.dat*
/tools/*.preds
/compile_commands.json
/ndtest*
/config.mk
/callgrind.out.*
/build
/builds
build/
builds/
/cicache
/citemp
*~
*.log
__pycache__

# ignore qt-creator project files
*.config
*.creator
*.files
*.includes
*.user*
